$dracula-black-1: #15171b;
$dracula-black-2: #1d1e26;
$dracula-black-3: #282a36;
$dracula-white: #f8f8f2;
$dracula-gray: #414558;
$dracula-secondary: #8a8f98;

$dracula-cian: #80ffea;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff80bf;
$dracula-purple: #9580ff;
$dracula-red: #ff9580;
$dracula-yellow: #ffff80;

html {
    overflow-y:scroll;
}

body {
    margin-top: 100px !important;
}

.dropdown-toggle::after {
    color: var(--bs-body-color) !important
}

.color {

    width: 120px;
    height: 160px;
    color: white;

    &:hover {
        cursor: pointer;
    }
}
